.item {
  border: 1px solid #eeeeee;
  overflow: hidden;
  margin: 0.5rem 4rem;
  width: 24rem;
  position: relative;
}
.author {
  visibility: visible;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 1rem;
}
.numberBox {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 100px;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.8);
  color: #ffffff;
  padding: 3px;
  width: 4.5rem;
  z-index: 1;
  right: 13px;
  top: 16px;
}
.authorLink {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
}

.authorLink::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .item {
    flex: 25%;
    margin: 0 1rem 1rem 0;
    max-width: 24rem;
    padding: 0;
    position: relative;
    box-shadow: 0;
    transition: box-shadow 0.3s;
  }

  .item:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  }

  .author {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }

  li:hover .author {
    visibility: visible;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
  }

  .authorLink:focus {
    outline: none;
  }
}
