.list {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .list {
    max-width: 120rem;
    margin: 2.5rem 8rem;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
